
.custom-form-container-list {
	max-width: 1000px;
	margin: 5rem auto;
	padding: 2rem;
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.2);
	background-color: #f9f9f9;
}
.custom-form-container {
	max-width: 600px;
	margin: 1rem auto;
	padding: 2rem;
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.2);
	background-color: #f9f9f9;
}

.custom-div-container {
    max-width: 200px;
    margin: 1rem auto;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    background-color: #f9f9f9;
}

.custom-div-container h3 {
    font-size:medium;
    font-weight: bold;
}

.custom-div-container a{
    text-decoration: none;    
    text-transform: none;
}

.custom-form-group {
    margin-bottom: 1.5 rem;
}

.custom-form-label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.custom-input {
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 0.5rem;
}

.custom-btn {
    background-color: #007bff;
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custome-btn:hover{
    background-color: #0056b3;
}