html, body {
	direction:ltr;
}

.glyphicon {
	font-family:'Glyphicons Halflings' !important;
}

#nav-top {
	float:right;
}

#nav-top li {
	float:right;
}

#banner {
	width: 100%;
	height:100px;
	background-color:#6C6;
}

#logo {
	display: none;
	width:100px;
	height:80px;
	padding-top:20px;
	margin-left:20px;
	background-color:#EEE;
	border-radius:10px;
}

#slogan {
	color:#FFF;
	font-size:60px;
	margin-right:20px;
	padding-top: 10px;
	margin-top:20px;
	text-align: center;
}

#banner a{
	text-decoration: none;
	text-transform: none;
}


#nav {
	background-color:#399;
}

#page {
	margin-top:-20px;
}

#rsb, #lsb {
	min-height:300px;
	background-color:#6CC;
}

#rsb a {
	display:block;
	width:100%;
	margin-bottom:5px;
	font-weight:bold;
	font-size:15px;
}

#rsb a span {
	margin-left:6px;
}

#rsb a:first-child {
	margin-top:10px;
}

#content {
	min-height:487px;
	background-color:#EEE;
}



#footer {
	height:50px;
	background-color:#696;
	text-align:center;
	padding-top:10px;
	color:#FFF;
}